<div class="flex flex-col bg-gray-100 shadow-md rounded-lg border border-gray-300 p-4">
  <p class="text-lg font-bold mb-2">
    <strong>Name:</strong> <span class="text-gray-800"><%= user.name %></span>
  </p>
  <p class="text-base mb-2">
    <strong>Email:</strong> <span class="text-gray-600"><%= user.email %></span>
  </p>
  <p class="text-base text-red-500">
    <strong>Password: <%= user.email %></strong>
  </p>
</div>
