<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold text-center mb-8">New user</h1>
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <%= render "form", user: @user %>
  <%end%>

  <div class="flex justify-end mt-8">
    <%= link_to "Back to users", users_path, class: "px-4 py-2 bg-green-500 text-white hover:bg-green-700 rounded-md" %>
  </div>
</div>
