<header class="bg-white shadow flex items-center justify-between px-4 py-5 sm:px-6 lg:px-8">
  <a href="/" class="flex items-center">
    <svg class="fill-current text-red-500 hover:text-red-700 w-10 h-10 mr-2" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10 15.4a1.25 1.25 0 01-1.25-1.25v-3.9a1.25 1.25 0 012.5 0v3.9a1.25 1.25 0 01-1.25 1.25zm5-4.5a1.25 1.25 0 01-1.25-1.25v-3.9a1.25 1.25 0 012.5 0v3.9a1.25 1.25 0 01-1.25 1.25zM.6 10a1.25 1.25 0 011.25 1.25v3.9a1.25 1.25 0 01-2.5 0v-3.9a1.25 1.25 0 011.25-1.25zM16.5 10a1.25 1.25 0 011.25 1.25v3.9a1.25 1.25 0 01-2.5 0v-3.9a1.25 1.25 0 011.25-1.25z" clip-rule="evenodd" />
    </svg>
    <span class="text-xl font-bold text-gray-800">Blogger</span>
  </a>

  <nav class="hidden sm:flex space-x-4">
    <% filtered_routes.each do |route| %>
      <a href="<%= route[:link] %>" class="text-base font-medium text-gray-500 hover:text-gray-700">
        <%= route[:name] %>
      </a>
    <% end %>
  </nav>
</header>
